.git
.gradle
.idea
**/.dart_tool/
**/.gradle/
**/android/**/build/
**/build/app/
flutter_family_tracker/build/app/
**/android/local.properties
!flutter_family_tracker/build/
!flutter_family_tracker/build/web/
!flutter_family_tracker/build/web/**
