<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mat.familytracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FTApplication"
        android:allowBackup="false"
        android:icon="@drawable/family_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/family_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:icon,android:allowBackup,android:roundIcon">
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VerifyPhoneActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LocationHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LocationHistoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AllMapsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".gpstracker.GPSTrackerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|camera" />
        <service
            android:name=".gpstracker.LocationTracker"
            android:enabled="true"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBbI2vk6FrUB7xPCKROW1wP__xsaUn-JiA" /> <!-- android:value="AIzaSyA-dmHNnmCl_1pakfDqHT3rhKt7mIlK4AE" /> -->
        <activity
            android:name=".activity.AddFamilyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddFamilyMemberActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MapActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver
            android:name=".utils.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true"
            android:enabled="true">
            <intent-filter android:priority="2147483645">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".gpstracker.GpsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".pushNotification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".activity.Restarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mat.phonesecurity.recievers.MyDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_uses_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mat.familytracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>


</manifest>